*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    background-color: rgb(236, 175, 61);
    font-family: "Style Script";
}
header{
    height: 80px;
    background-color: rgb(153, 112, 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    font-weight: 900;
    font-size: 3.5em;
    color: black;
}
.fa-shopping-cart{
    font-size: 20px;
    color: black;
    position: absolute;
    right: 30px;
}
header::before{
    content: '1';
    position: absolute;
    right: 35px;
    top: 35px;
    color: white;
    z-index: 1;
}
.fa-arrow-left{
    font-size: 20px;
    color: black;
    position: absolute;
    left: 30px;
}
footer{
    height: 80px;
    background-color: rgb(153, 112, 0);
    margin-top: 100px;
}
#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ours img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.ours{
    box-shadow:1px 1px 3px 2px  rgba(255, 99, 71, 0.514);
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    background-color: tomato;
}
.ours:hover{
    transform: scale(1.03);
}
.oursName{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(68, 64, 64);
}
#card{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75vw;
    height: 75vh;
    z-index: 2;
    background-color: white;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.photo-info{
    display: flex;
}
#color{
    display: flex;
    flex-direction: column;
}
#color label{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.2em;
    padding-left: 4%;
}
select{
    width: 170px;
}
#nomProduitOurs{
    font-weight: bolder;
    font-size: 1.3em;
    color: rgb(41, 36, 28);
}
#nom-photo{
    padding: 2%;
}
#nom-photo p{
    padding-left: 4%;
}
#description{
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.1em;
    max-width: 400px;
    color: rgb(49, 37, 21);
}
#sentPanier{
    margin-top: 20px;
}
#prix{
    margin-top: 10px;
}
#panier h1{
    text-align: center;
}
.ligneProduit{
    font-size: 1.3em;
    display: flex;
    width: 80%vw;
    margin: 10%;
    justify-content: space-between;
}