*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    background-color: rgb(236, 175, 61);
    font-family: "Style Script";
    
}
header{
    height: 10vh;
    background-color: rgb(153, 112, 0);
    display: flex;
    align-items: center;
    min-width: 300px;
}
.view{
    height: 80vh;
}
.container{
    min-height: 80VH;
}
.left, .middle, .right{
    width: 33.33%;
}
.middle
{
    text-align: center;
}
.left{
    padding-left: 20px;
}
.right{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
header h1{
    font-weight: 900;
    font-size: 3.5em;
    color: black;
}
.cart{
    position: relative;
}
#nbProduitsPanier{
    font-weight: 800;
    font-size: 1.3em;
    width: 20px;
    height: 20px;
    position: absolute;
    color: white;
    transform: translate(8px,-35px);
}
.fa-shopping-cart{
    font-size: 20px;
    color: black;
}
.fa-arrow-left{
    font-size: 20px;
    color: black; 
}
footer{
    height: 10vh;
    background-color: rgb(153, 112, 0);
}
#error{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size:xx-large;
    font-weight: 800;
}
#products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ours img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.ours{
    box-shadow:1px 1px 3px 2px  rgba(255, 99, 71, 0.514);
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    background-color: tomato;
}
.ours:hover{
    transform: scale(1.03);
}
.idOurs{
    display: none;
}
.oursName{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(68, 64, 64);
}
#card{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75vw;
    height: 75vh;
    z-index: 2;
    background-color: white;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.photo-info{
    display: flex;
}
#color{
    display: flex;
    flex-direction: column;
}
#color label{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.2em;
    padding-left: 4%;
}
select{
    width: 170px;
}
#nomProduitOurs{
    font-weight: bolder;
    font-size: 1.3em;
    color: rgb(41, 36, 28);
}
#nom-photo{
    padding: 2%;
}
#nom-photo p{
    padding-left: 4%;
}
#description{
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.1em;
    max-width: 400px;
    color: rgb(49, 37, 21);
}
#sentPanier{
    margin-top: 20px;
}
#prix{
    margin-top: 10px;
}
#panier h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
#produits{
    text-align: center;
}
.ligneProduit{
    font-size: 1.3em;
    display: flex;
    margin: 3%;
}
.nomOurs{
    margin-right: 5%;
    width: 20vw;
}
.prixOurs{
    margin-right: 5%;
    width: 10vw;
}
#total{
    display: flex;
    max-width: 200px;
    margin: auto;
    font-weight: 700;
    font-size: 1.3em;
    align-items: center;
    justify-content: center;
}
form{
    margin-top: 5vh;
    margin-left: 10vw;
    font-size: 1.2em;
    margin-bottom: 10vh;
}
.form-ligne{
    display: flex;
    width: 80vw;
    margin: 2%;
}
label {
   width: 20vw;
}
.error{
    color: rgb(235, 22, 22);
}
.order{
    padding-top: 3%;
    text-align: center;
    font-weight: 900;
    font-size: 1.4em;
}
#commande{
    margin: 5vh 0;
}
@media screen and (max-width: 888px){
    .form-ligne{
        display:block;

    }
}
@media screen and (max-width: 556px){
    #produits{
        margin: auto;
        width: 70vw;
    }
    .nomOurs{
        margin-right: 0;
        min-width: 120px;
    }
}
@media screen and (max-width: 383px){
    #produits{
        margin: 0;
        width: 90vw;
    }
    form{
        margin-left: 0;
        font-size: 1em;
        
    }
    .ligneProduit{
        font-size: 1.1em;
        margin: 0;
    }
    .form-ligne{
        display: flex;
        flex-direction: column;
    }
    input{
        width: 50vw;
    }
}